<%= form_for([@forum_thread, request]) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :request_user_id %>
  </div>

  <div class="field">
    <%= form.label :forum_thread_id %>
    <%= form.number_field :forum_thread_id, id: :request_forum_thread_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
